/* Design Guideline

Titles: Oswald, 36px
Text Elements: Roboto, XXpx, #424949

Dark Theme Background: #010305

*/

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');


.tooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}



p {
    font-family: Roboto;
    color: #424949 ;
}

body{
    padding: 0px;
    margin: auto;
}

div {
    overflow: hidden;
}


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    align-content: center;
    text-align: center;
    opacity: 0.7;
}


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-1;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.overlayTitle{
    margin-top: 20%;
    font-size: 36px;
    color: white;
    font-family: Oswald;
    margin-bottom: 0;
    z-index:5;
    opacity: 1;
}


.overlayDesc {
    color:white;
    font-family: Roboto;
    font-size: 18;
    font-weight:100;
    z-index: 5;
    opacity: 1;
}


/* Divs*/

.spaceView1{
    background-color: #010305;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: sticky;
    float: left;
    top: 0;
   }

.sideBar{
    display: inline-block;
    height:100%;
    width: 320;
    background-color:  #010305;

}
.sideBar p {
    margin-left: 50px;
}
.rightHand{
    display: inline-block;
    position: absolute;
    height: 100%;
}

#selectedSat p{
    color: grey;
    font-size:12px;
    font-family: Roboto;
    margin:0;
}

#overview {
    width: 100%;
}
#total, #totalCat {
    color: white;
    font-family: Oswald;
    font-size: 24;
    margin:0;
}

#total {
    margin-top: 50;
    font-size:20;
}
#totalCat {
    font-size: 20;
    margin-bottom: 50;
}

.visualization{
    display: inline-block;
}
.rightDiv{
    display: inline-block;
    float:right;
    height: 100%;
    width: 200px;
    margin-right:0;

}

.useByCountryView{
    background-color: white;
    height: 100%;
    width: 100%;
    float: left;
    display: none;
}

.useViz{
    display: inline-block;
    height:100%;
    width: 45%;
    margin-top: 40px;
    text-align: right;
}
.useVizBody{
    display: inline-block;
    height:100%;
    width: 44%;
    background-color: white;
}

.useButton {
    visibility: hidden;
    display: block;
    background-color: #010305;
    width: 150px;
    height: 30px;
    font-size: 14;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: 600;
    margin: auto;
    margin-top: 10px;
    text-decoration: none;
    outline: none;

}

/* Main Visualization */

.satPoint:hover {
     cursor: pointer;
}

.satInfo {
    width:20px;
    overflow: hidden;
    font-family: Roboto;
}

/* Button */
.useCaseNext {
    width: 100px;
    height: 80px;
    cursor: pointer !important;
}

.useNextButton {
    background: none;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer !important;
    outline: inherit;
    display: none;
    width: 100px;
    height: 80px;
    margin-left: 100px;
}

.useNextButton p {
    margin-top: 500%;
    margin-bottom: -22px;
    margin-left: 0px;
    font-size: 14px;
    color: white;
}

.usePrevButton {
    background: none;
    color: black;
    border: none;
    padding: 0;
    cursor: pointer !important;
    outline: inherit;
    display: block;
    width: 100px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: -80px;
    margin-left: 90%;
}

.usePrevButton p {
    margin-top: 0;
    margin-bottom: -78px;
    margin-left: 0px;
    font-size: 14px;
    color: black;
}

/* Text Elements */
.factText{
    font-family: Oswald;
}

.sectionTitle{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    color: white;
    margin-top: 150px;
}

.sectionDesc{
    font-size: 10px;
    line-height: 18px;
    margin-top: 50px;
    margin-right:50px;
    color: grey;
}

.useTitle{
    margin: 0 auto;
    margin-top: 80px;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    color: #5D6D7E;
    width: 80%;
}

.useDesc{
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
}

.useDesc2{
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    margin-right: 0;
}

/* Chart 2 axis */
.axis path{
    stroke: #424949;
}

.axis line{
    stroke: #424949;
}

.axis text{
    fill: #424949;
}

.useViz text{
    fill: #424949;
}
