/* Design Guideline

Titles: Oswald, 36px
Text Elements: Roboto, XXpx, #424949

Dark Theme Background: #010305

*/


@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

p {
    font-family: Roboto;
    color: #424949 ;
}

body{
    padding: 0px;
    margin: auto;
}

div {
    overflow: hidden;
}


/* Divs*/

.spaceView1{
    background-color: #010305;
    height: 100%;
    width: 100%;
    display: inline-block
}

.sideBar{
    display: inline-block;
    height:100%;
    width: 350;
    border-right: solid 1px grey;
    background-color: white;

}

.sideBar p {
    margin-left: 50px;
}
.rightHand{
    display: inline-block;
    position: absolute;
    height: 100%;
}

.useByCountryView{
    background-color: white;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.useViz{
    display: inline-block;
    height:100%;
    width: 45%;
    margin-top: 40px;
    text-align: right;
}
.useVizBody{
    display: inline-block;
    height:100%;
    width: 54%;
    background-color: white;
}

.useButton {
    visibility: hidden;
    display: block;
    margin-left: 50px;
}

/* Main Visualization */
.search {
    height: 50px;
    width: 100%;
    background-color: black;
}

#myInput {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    background-color: black;
    color: white;
    font-size: 14px;
    outline: none;
    border: none;
    border-bottom: solid lightgrey  1px;
}

.satPoint:hover {
     cursor: pointer;
}

.satInfo {
    width:20px;
    overflow: hidden;
    font-family: Roboto;
}



/* Text Elements */

.sectionTitle{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    color: #5D6D7E;
    margin-top: 150px;
}

.sectionDesc{
    font-size: 10px;
    line-height: 18px;
    margin-top: 50px;
    margin-right:50px;
}

.useTitle{
    margin: 0 auto;
    margin-top: 80px;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    color: #5D6D7E;
    width: 80%;
}

.useDesc{
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
}

/* Chart 2 axis */
.axis path{
    stroke: #424949;
}

.axis line{
    stroke: #424949;
}

.axis text{
    fill: #424949;
}

.useViz text{
    fill: #424949;
}
